<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--
  <target Name="BeforePublish">
    <Error Condition="'$(Configuration)' == 'Debug'" Text="App.config is set to prevent publishing the debug configuration"/>
  </target>
  -->
</configuration>